<div class="container">
  <div class="card">
    <h2>Login</h2>
    <form action="#">
      <div *ngIf="badLogin" class="inputBox">
      <span>erreur de  Login/password</span>
    </div>
      <div class="inputBox">
        <input type="text" placeholder="Username" #ValueUserName (change)="changeUserName(ValueUserName)" [value]="this.login.pseudo">
      </div>
      <div class="inputBox">
        <input type="password" placeholder="Password" #ValuePassword (change)="changePassword(ValuePassword)" [value]="this.login.password">
      </div>
      <div class="inputBox">
        <button class="btn btn-3" (click)="getLogin()">Login</button>
        <button class="btn btn-3" routerLink="/register" routerLinkActive="active">Register</button>
        <button class="btn btn-3" (click)="getGuess()" routerLinkActive="active">Guest</button>
      </div>


    </form>
  </div>
</div>

