
<div class="container">
  <div class="card">
    <h2>Register</h2>
    <form action="#">
      <div class="inputBox">
        <input type="text" placeholder="Username">
      </div>
      <div class="inputBox">
        <input type="text" placeholder="Email">
      </div>

      <div class="inputBox">
        <input type="password" placeholder="Password">
      </div>
      <div class="inputBox">
        <button class="btn btn-3" routerLink="/login" routerLinkActive="active">Login</button>
        <button class="btn btn-3" routerLink="/register" routerLinkActive="active">Register</button>
      </div>


    </form>
  </div>
</div>

