
<div class="container">
  <div class="card">
    <h2>Register</h2>
    <form action="#">
      <div class="inputBox">
        <input type="text" placeholder="Username" #ValueUserName (change)="changeUserName(ValueUserName)" [value]="this.register.pseudo">
      </div>
      <div class="inputBox">
        <input type="text" placeholder="Email" #ValueEmail (change)="changeEmail(ValueEmail)" [value]="this.register.email">
      </div>
      <div class="inputBox">
        <input type="text" placeholder="firstName" #firstName (change)="changefirstName(firstName)" [value]="this.register.firstName">
      </div>
      <div class="inputBox">
        <input type="text" placeholder="lastName" #lastName (change)="changelastName(lastName)" [value]="this.register.lastName">
      </div>
      <div class="inputBox">
        <input type="password" placeholder="Password" #Valuepassword (change)="changePassword(Valuepassword)" [value]="this.register.password">
      </div>
      <div class="inputBox">
        <button class="btn btn-3" routerLink="/login" routerLinkActive="active">Login</button>
        <button class="btn btn-3" (click)="getregister()">Register</button>
      </div>


    </form>
  </div>
</div>

