
<div class="tridiv">
  <div class="scene" [style]="this.style" >
    <div class="shape cuboid-1 cub-1">
      <div class="face ft">
        <div class="photon-shader" ></div>
      </div>
      <div class="face bk">
        <div class="photon-shader" ></div>
      </div>
      <div class="face rt">
        <div class="photon-shader" ></div>
      </div>
      <div class="face lt">
        <div class="photon-shader" ></div>
      </div>
      <div class="face bm">
        <div class="photon-shader" ></div>
      </div>
      <div class="face tp">
        <div class="photon-shader" ><img [src]="this.image" alt=""/></div>
      </div>
    </div>
  </div>
</div>
