<div class="box" >
<mat-card (click)="playerChoice(this.players[i])"  [ngClass]="playertoturnClass(name)" *ngFor="let name of this.names.listNamePlayer;let i=index"  >
  <mat-card-title-group class="card"   >
    <mat-card-title class="name">  {{name}} </mat-card-title>

  </mat-card-title-group>
  <mat-card-content >
    <app-total-score [totalScore]="this.players[i].points"></app-total-score>&nbsp;
    <app-result-score  [score]="this.players[i].lastTurnPoints"></app-result-score>
  </mat-card-content>
</mat-card>
</div>
