<div class="box" >
<mat-card [ngClass]="playerToTurnClass(name)" *ngFor="let name of this.names.listNamePlayer;let i=index"  >
  <mat-card-title-group class="card"   >
    <mat-card-title class="name">  {{name}} </mat-card-title>

  </mat-card-title-group>
  <mat-card-content *ngIf="this.players.length!==0">
    <app-total-score  [totalScore]="this.players[i].points"></app-total-score>&nbsp;
    <app-result-score  [score]="this.players[i].lastTurnPoints"></app-result-score>
  </mat-card-content>
</mat-card>


</div>
<div *ngIf="isNameTurn()" class="playerToTurn">
  Is {{this.nameToTurn}} to Play

</div>
