<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink='/chooseGame'>
    <mat-icon>dialpad</mat-icon>
    <span>ChooseGame</span>
  </button>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
  <button  mat-menu-item routerLink='/opponents' >
    <mat-icon>person_pin</mat-icon>
    <span>New Game</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="players">instantGame</button>
  <mat-menu #players="matMenu">
    <button mat-menu-item (click)="instantGameTwoPlayer()">2</button>
    <button mat-menu-item routerLink='/opponents'>3</button>
    <button mat-menu-item routerLink='/opponents'>4</button>

  </mat-menu>
</mat-menu>

