
<app-menu [(waitingPlayer)]="waitingPlayer" [boardLength]="this.board.length" [gameId]="gameId" (gameIdChanged)="gameChange($event)" [(userName)]="userName" ></app-menu>
<app-waiting-player [userName]="userName" *ngIf="waitingPlayer"></app-waiting-player>
<app-choose-player *ngIf="this.gameId!==0" class="positionPlayer" [gameId]="gameId" [nameToTurn]="this.nameToTurn"  [winner]="this.winner"
                   [players]="this.players">

</app-choose-player>

<mat-card *ngIf="this.gameId===0" class="container"></mat-card>





<div *ngIf="this.gameId!==0" cdkDropListGroup>
  <div *ngIf="this.winner === ''" class="position-firstPlayer">
    <div class="example-container">
      <div>
        <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="this.rack" class="example-list2d"
             (cdkDropListDropped)="dropResult($event)">
          <div *ngFor="let tile of this.rack;let i=index">
            <app-tile-pawn [isDrag]="false" [image]="getRackTileImage(tile)" [style.transform]="getPawStyle(0)" class="example-box2d"
                           cdkDrag > <app-tile-pawn  [image]="getRackTileImage(tile)" [isDrag]="true" [scale]=getCssScale(this.panzoomModel.zoomLevel)
                                                     *cdkDragPreview></app-tile-pawn></app-tile-pawn>

          </div>

        </div>
        <div *ngIf="this.rack.length===0" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="this.rack" class="example-list2d"
             (cdkDropListDropped)="dropResult($event)">
          <app-tile-pawn></app-tile-pawn>
        </div>
      </div>
    </div>
  </div>
  <app-give-tempory-score  [score]="this.score" *ngIf="swap.length===0 && this.rack.length!==6" class="positionValid" (click)="valid()"></app-give-tempory-score>
  <button *ngIf="swap.length===0 && this.rack.length===6 && this.player.isTurn" class="positionSkipTurn" (click)="skipTurn()">SkipTurn</button>


  <button class="positionBot" *ngIf="this.player.pseudo==='jc12'" (click)="Bot()">Bot</button>
  <app-rack-support></app-rack-support>
  <mat-card class="container">
    <div #scene id="scene" *ngIf="this.plate.length!==0">
      <div style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;">
        <pan-zoom [config]="panzoomConfig">
          <div class="position-secondPlayer" *ngFor="let line of plate;let i=index"
               [style.transform]="getLineStyle(line,i)">
            <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="line" class="example-list2d"
                 (cdkDropListDropped)="drop($event,i)">

              <div *ngFor="let tile of line;let j=index" cdkDrag class="example-box2d"
                   [cdkDragDisabled]="!tile.disabled">
                <app-tile-pawn [image]="getRackTileImage(tile)" [isDrag]="false" >
                  <app-tile-pawn  [image]="getRackTileImage(tile)" [isDrag]="true" [scale]=getCssScale(this.panzoomModel.zoomLevel)
                                  *cdkDragPreview></app-tile-pawn></app-tile-pawn>

              </div>
            </div>
          </div>
        </pan-zoom>
      </div>
    </div>
    <div *ngIf="this.plate.length===0">
      <div cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="voidTile" class="scenevide"
           (cdkDropListDropped)="dropEmpty($event)">
        <div cdkDrag></div>
      </div>
    </div>
  </mat-card>

  <app-pick *ngIf="this.player.isTurn" [plate]="plate" [board]="board" [swap]="swap" [bagLength]="bagLength"  (swapClick)="swapTiles()"></app-pick>
</div>

