<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<button (click)="game()">Start</button>
<div *ngIf="result.length===6" class="flex-container">

  <div *ngFor="let i of [0,1,2,3,4,5]" class="flex-items"><app-my-button [image]="getRackTileImage(i)" [style]="getRackTileStyle(i)"></app-my-button></div>
</div>

</body>
</html>
