<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<button (click)="game()">Start</button>
<button (click)="valid()">Valid</button>
<button >{{this.score.points}}</button>
<div cdkDropListGroup>
  <div  class="position-firstPlayer" >
    <div class="example-container">
      <div>
        <div cdkDropList
             cdkDropListOrientation="horizontal"
             [cdkDropListData]="this.result"
             class="example-list"
             (cdkDropListDropped)="dropResult($event)">
          <div *ngFor="let tile of result " cdkDrag>
            <app-my-button [image]="getRackTileImage(tile)" [style]="getRackTileStyle()"
                           class="example-box"></app-my-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div #scene id="scene" >

    <div  *ngFor="let line of plate;let i=index ">
      <div  class="position-secondPlayer" [style]="getLineStyle(i+1)" >
        <div class="plate-container">
          <div cdkDropList
               cdkDropListOrientation="horizontal"
               [cdkDropListData]="line"
               class="example-list"
               (cdkDropListDropped)="drop($event,i)"
          >
            <div *ngFor="let tile of line " cdkDrag  [cdkDragDisabled]="!tile.disabled" >
              <app-my-button [image]="getRackTileImage(tile)" [style]="getRackTileStyle()"
                             class="example-box"></app-my-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





</body>
</html>
