.app-header{
  background: rgba(106, 183, 222, 1.0);
  background: -webkit-linear-gradient(top left, rgba(106, 183, 222, 1.0), rgba(226, 233, 139, 1.0));
  background: -moz-linear-gradient(top left, rgba(106, 183, 222, 1.0), rgba(226, 233, 139, 1.0));
  background: linear-gradient(to bottom right, rgba(106, 183, 222, 1.0), rgba(226, 233, 139, 1.0));
}
