<mat-card class="cardNetwork">
  <mat-card-title id="demoFont">Pseudo</mat-card-title>
  <mat-form-field appearance="fill">
    <mat-label>Pseudo 1</mat-label>
    <input matInput [value]="pseudo1" [(ngModel)]="pseudo1" >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Pseudo 2</mat-label>
    <input matInput [value]="pseudo2" [(ngModel)]="pseudo2" >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Pseudo 3</mat-label>
    <input matInput [value]="pseudo3" [(ngModel)]="pseudo3">
  </mat-form-field>
  <button class="btn btn-1" (click)="NewGame()">Valid NewGame</button>
</mat-card>



