
  <mat-card class="card-group colorTurnOn" >
    <mat-card-title-group class="card"   >
      <mat-card-title class="name" *ngIf="this.swap.length===0">
        <span class="bag">Bag</span>
      </mat-card-title>
      <mat-card-title class="name" *ngIf="this.swap.length!==0">

        <mat-icon (click)="Swap()" class="swap-icon">swap_horiz</mat-icon>
          <span class="swap">Swap</span>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content *ngIf="this.Bag!==0">
      <a class="reste">Reste:<a>{{this.Bag}}</a></a>



    </mat-card-content>

  </mat-card>




