

a{
  font-size:12px;
  font-weight:bold;
  color: black;

}
span{
  font-weight:bold;
  font-size:10px;


}
.card-group {
  position: absolute;
  display: flex;
  justify-content: left;

  gap: 10px;
  top: 84vh;
  left: 57vw;
width: 150px;
height: 120px;


}
.colorTurnOff{
  background: linear-gradient(to left, #283593, #1976d2);
}
.colorTurnOn{
  background: linear-gradient(to left, #283593, #1976d2);
}
.card {
  height: 25px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);  /* This will produce the blur */
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex: 0 1 auto;
  text-align: center;
  line-height: 20px;
  font-size: 10px;

  padding-left:10px;
  padding-right:10px;
}

.name
{
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  letter-spacing: 2px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);

}

